image: python:3.9

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.pip"

cache:
  paths:
    - .pip
    
before_script:
  - python -V  # Print out python version for debugging

run_examples:
  except:
    changes:
      - "**/*.md"  # do not run a pipeline if only markdown files are changed
  script:
    # install invariants_py
    - pip install --upgrade pip
    - pip install .

    # install fatrop
    - git clone https://github.com/meco-group/fatrop.git --recursive
    - cd fatrop
    - apt-get update && apt-get install -y cmake
    - export CMAKE_ARGS="-DBLASFEO_TARGET=X64_AUTOMATIC -DENABLE_MULTITHREADING=OFF"
    - cd fatropy
    - pip install --upgrade pip setuptools
    - pip install .
    - cd ../..

    # install rockit and rockit-fatrop plugin
    - git clone https://gitlab.kuleuven.be/meco-software/rockit.git
    - git clone https://gitlab.kuleuven.be/u0110259/rockit_fatrop_plugin.git ./rockit/rockit/external/fatrop
    - cd rockit
    - pip install .
    - cd ..

    # Run examples
    - python -u run_all_scripts.py


