stages:
    - build
    - test

# Build stage
build_job:
    stage: build
    image: gcc
    script:
      - apt-get update
      - apt-get install --yes cmake
      # install fatrop
      - git clone https://github.com/meco-group/fatrop.git
      - cd fatrop
      - git checkout fatropv1
      - mkdir build
      - cd build
      - cmake .. -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTS=OFF
      - make -j$(nproc)
      - make install 
      - cd ..

# Test stage
test_job:
    stage: test
    image: python:3.9

    variables:
      PIP_CACHE_DIR: "$CI_PROJECT_DIR/.pip"

    cache:
      paths:
        - .pip
        
    before_script:
      - python -V  # Print out python version for debugging

    run_examples:
      except:
        changes:
          - "**/*.md"  # do not run a pipeline if only markdown files are changed
      script:
        # install invariants_py
        - pip install --upgrade pip
        - pip install .

        # install rockit and rockit-fatrop plugin
        # - git clone -b acados_codegen https://gitlab.kuleuven.be/meco-software/rockit.git
        # - git clone -b fatropy https://gitlab.kuleuven.be/u0110259/rockit_fatrop_plugin.git ./rockit/rockit/external/fatrop
        - git clone https://gitlab.kuleuven.be/meco-software/rockit.git
        - git clone https://gitlab.kuleuven.be/u0110259/rockit_fatrop_plugin.git ./rockit/rockit/external/fatrop
        - cd rockit
        - pip install .
        - cd ..

        # Run examples
        - python -u run_all_scripts.py